@{
    ViewBag.Title = "UyelerGetir";
    Layout = "~/Views/Shared/_YonetimLayout.cshtml";
}
@model IEnumerable<MvcBlog.Models.Uyeler>
@{var grid = new WebGrid(Model, defaultSort: "Kayıt Tarihi", rowsPerPage: 10);}


<div class="container-grid">
    @grid.GetHtml(
            headerStyle: "webgrid-header",
                rowStyle: "webgrid-row-style",
                        alternatingRowStyle: "webgrid-row-style",
    mode: WebGridPagerModes.All,
    columns: grid.Columns(
    grid.Column("uyeid", "ID"),
    grid.Column("uyeadi", "Adı"),
    grid.Column("uyesoyadi","Soyadı"),
    grid.Column("uyemail","Mail Adresi"),
    grid.Column("uyekayittarihi","Kayıt Tarihi" ),
    grid.Column("uyetanima","Tanıma"),
    grid.Column("İşlemler",format:@<text>@Html.RouteLink("Sil", "Default", new {action="YonetimUyelerSil",controller="Yonetim",defaultid = item.uyeid}) </text>)

    ))
</div>
<style>
    .webgrid-header {
        height: 40px;
        text-align: center;
        font-size: 11px;
        padding: 2px;
        background-color: rgb(76, 193, 232);
    }

    .webgrid-row-style {
        min-height: 40px;
        text-align: center;
        font-size: 12px;
        background-color: white;
    }
</style>